rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthed() { return request.auth != null }
    function isSelf(uid) { return isAuthed() && request.auth.uid == uid }
    function isAdminOf(congregationId) {
      return isAuthed() &&
        congregationId is string &&
        get(/databases/$(database)/documents/congregations/$(congregationId)).data.admins.hasAny([request.auth.uid])
    }
    function isElderOf(congregationId) {
      return isAuthed() &&
        congregationId is string &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.registerCongregationId == congregationId &&
        get(/databases/$(database)/documents/congregations/$(congregationId)/register/$(get(/databases/$(database)/documents/users/$(request.auth.uid)).data.registerId)).data.privilegioServico == 'anciao'
    }

    match /users/{uid} {
      allow read: if isSelf(uid) || isAdminOf(resource.data.congregacaoId)
      allow write: if isSelf(uid) || isAdminOf(resource.data.congregacaoId)
    }

    match /congregations/{id} {
      allow read: if isAuthed()
      allow create: if isAuthed()
      allow update, delete: if isAdminOf(id) || isElderOf(id)

      match /register/{regId} {
        allow read: if isAuthed()
        allow write: if isAdminOf(id)
      }

      match /territory/{territoryId} {
        allow read: if isAuthed() || resource.data.sharedOpen == true
        allow write: if isAdminOf(id)
      }

      match /pregacao/{docId} {
        allow read: if isAuthed()
        allow write: if isElderOf(id)
      }

      match /pregacao_month/{monthId} {
        allow read: if isAuthed()
        allow write: if isElderOf(id)
      }

      match /weekend_assign/{monthId} {
        allow read: if isAuthed()
        allow write: if isAdminOf(id) || isElderOf(id)
      }

      match /external_speakers/{speakerId} {
        allow read: if isAuthed()
        allow write: if isAdminOf(id) || isElderOf(id)
      }

      match /family/{familyId} {
        allow read: if isAuthed()
        allow write: if isAdminOf(id) || isElderOf(id)
      }
    }

    match /global_midweek_schedule_pt/{monthId} {
      allow read: if isAuthed()
      allow write: if isAdminOf(get(/databases/$(database)/documents/users/$(request.auth.uid)).data.congregacaoId) || isElderOf(get(/databases/$(database)/documents/users/$(request.auth.uid)).data.registerCongregationId)
    }

    match /congregations/{id}/midweek_assign/{monthId} {
      allow read: if isAuthed()
      allow write: if isAdminOf(id) || isElderOf(id)
    }
  }
}